﻿@model WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Register";
}

<style>
    body
    {
        background-color: lightgoldenrodyellow;
    }
    input[type="text"], textarea {
        background-color: palegoldenrod;
    }
    h2 {
        color: saddlebrown;
        font-family: Arial;
    }
    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select
    {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
</style>
<h2>Registeracija</h2>
<div>
    @ViewBag.Message
</div>
<form action="~/Register/Register" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            @ViewBag.Message1
            @ViewBag.Message2
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Sifra:</td>
            @ViewBag.Message3
            @ViewBag.Message4
            @ViewBag.Message5

            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            @ViewBag.Message6
            <td><input type="text" name="ime" /></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            @ViewBag.Message7
            <td><input type="text" name="prezime" /></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="roles" name="pol" style="background-color:palegoldenrod" />
                <datalist id="roles">

                    <option value="MUSKI"></option>
                    <option value="ZENSKI"></option>
                </datalist>
            </td>
        </tr>


        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="date" name="datumRodjenja" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Registruj se" />
            </td>
        </tr>
    </table>
</form>
