﻿
<style>
    body {
        background-color: lightgoldenrodyellow;
    }
    h2 {
        color: saddlebrown;
        font-family: Arial;
    }
    input[type="text"], textarea {
        background-color: palegoldenrod;
    }
    input[type="password"], textarea {
        background-color: palegoldenrod;
    }
    input[type="submit"], textarea {
        background-color: black;
        color:white;
    }
</style>
<h2>Prijava</h2>
<div>
    @ViewBag.Message
</div>
<form action="~/Login/Login" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Sifra:</td>
            <td><input type="password" name="password" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Prijavi se" />
            </td>
        </tr>

    </table>
</form>