﻿
@{
    ViewBag.Title = "Odaberi kartu";
}

<style>
    input {
        width: 13%;
    }

    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
        width:150px;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }



    table {

        width: 44%;
    }

    .button-container form,
    .button-container form div {
        display: inline;
    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }




</style>
<h2>Odaberi kartu</h2>

<form action="~/Karta/Rezervacija">
    <table>
        <tr>
            <td>Manifestacija:  </td>
            <td>@ViewBag.Manifestacija.Naziv  </td>
        </tr>
        <tr>
            <td>Datum manifestacije:  </td>
            <td>@ViewBag.Manifestacija.DatumOdrzavanja  </td>
        </tr>
        <tr>
            <td>Tip karte:</td>
            <td>
                <input list="roles" name="tip" style="width:150px;background-color:palegoldenrod"/>
                <datalist id="roles">

                    <option value="VIP"></option>
                    <option value="REGULAR"></option>
                    <option value="FANPIT"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Broj karata:</td>
            <td><input type="number" name="brojKarata" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="id" value="@ViewBag.Manifestacija.Id" hidden />
                @if (ViewBag.korisnik != null)
                {
                    <input type="submit" value="Dalje" />
                }

            </td>
        </tr>
    </table>
</form>