﻿<style>
    body {
        background-color: lightgoldenrodyellow;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }

    table {
        border-collapse: collapse;
        width: 44%;
    }

    th, td {
        padding: 15px;
        text-align: left;
        width: 15px;
        border-bottom: 1px solid #ddd;
    }
</style>


<p style="color:red">@ViewBag.Message3</p>
<p style="color:red">@ViewBag.Message2</p>
<p style="color:red">@ViewBag.Message</p>
<p style="color:red">@ViewBag.Greska</p>
<p style="color:red"> @ViewBag.GreskaTip</p>
<p style="color:red">@ViewBag.GreskaBroj</p>
<p style="color:red">@ViewBag.GreskaNeaktivnost</p>
<p style="color:red">@ViewBag.GreskaGreska</p>

@ViewBag.Message4



