﻿
@{
    ViewBag.Title = "Rezervacija";
}
<style>
    body {
        background-color: lightgoldenrodyellow;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }

    table {
        border-collapse: collapse;
        width: 44%;
    }

    th, td {
        padding: 15px;
        text-align: left;
        width: 15px;
        border-bottom: 1px solid #ddd;
    }
</style>
@ViewBag.Message3
<h2>Rezervacija</h2>
<table>
    <tr>
        <td><b> Manifestacija: </b></td>
        <td>@ViewBag.Karta.Manifestacija.Naziv   </td>
    </tr>
    <tr>
        <td><b> Datum odrzavanja: </b></td>
        <td>@ViewBag.Karta.Manifestacija.DatumOdrzavanja  </td>
    </tr>
    <tr>
        <td><b>Broj karata:</b> </td>
        <td> @ViewBag.BrojKarata </td>
    </tr>
    <tr>
        <td><b>Ukupna cena:</b> </td>
        <td> @ViewBag.Karta.Cena </td>
    </tr>
    <tr>
        <td><b>Korisnicko ime: </b></td>
        <td>@ViewBag.Username</td>
    </tr>
</table>
<form action="~/Karta/Kupovina">
    <input type="text" name="st" value="@ViewBag.Status" hidden />
    <input type="text" name="naziv" value="@ViewBag.Karta.Manifestacija.Naziv" hidden />
    <input type="text" name="id" value="@ViewBag.Karta.Identifikator" hidden />
    <input type="text" name="tip" value="@ViewBag.Tip" hidden />
    <input type="number" name="brojKarata" value="@ViewBag.BrojKarata" hidden />

    <input type="number" name="cena" value="@ViewBag.Karta.Cena" hidden />


    <input type="submit" value="Rezervisi" />
</form>
