﻿
@{
    ViewBag.Title = "Greska";
}
<p style="color:red"> @ViewBag.GreskaString</p>
<p style="color:red">@ViewBag.GreskaBroj</p>
<p style="color:red">@ViewBag.GreskaOcena</p>
<p style="color:red">@ViewBag.GreskaKombo</p>
<p style="color:red">@ViewBag.GreskaIstek</p>

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
</style>