﻿
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: lightgoldenrodyellow;
    }


    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
</style>
<h2>Komentar</h2>

<form action="~/Komentar/Komentar">
    <table>
        <tr>
            <td>Komentar:</td>

            <td><input type="text" name="tekstKomentara" /></td>
        </tr>
        <tr>
            <td>Ocena:</td>
            <td><input type="number" name="ocena" /></td>
        </tr>


        <tr>
            <td colspan="2">
                <input type="text" name="id" value="@ViewBag.Id" hidden />
                <input type="text" name="nazivManifestacije" value="@ViewBag.NazivManifestacije" hidden />
                <input type="submit" value="Ostavi komentar" />
            </td>
        </tr>
    </table>
</form>