﻿
<style>
    body {
        background-color: lightgoldenrodyellow;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }

    table {
        border-collapse: collapse;
        width: 44%;
    }

    th, td {
        padding: 15px;
        text-align: left;
        width: 15px;
        border-bottom: 1px solid #ddd;
    }
</style>
@{
    ViewBag.Title = "PrikaziKomentare";
}
@using WebProjekat.Models
@if (ViewBag.prodavac != null)
{
<table border="1" cellpadding="2" cellspacing="2" width="5">
    <tr bgcolor="gray"></tr>
    <tr>
        <td width="8"><b>Naziv manifestacije:  </b> </td>
        <td width="8"><b>Username:  </b> </td>
        <td width="4"><b>Komentar:  </b>  </td>
        <td width="4"><b>Ocena:  </b></td>
        <td width="4"><b>Odobren: </b></td>


    </tr>
    @foreach (Komentar item in ViewBag.komentari)
    {


        <tr>
            <td hidden>@item.IdManifestacije  </td>
            <td>@ViewBag.naziv  </td>
            <td>@item.Username  </td>
            <td>@item.TekstKomentara  </td>
            <td>@item.Ocena  </td>
            <td>@item.Odobren</td>

            @if (item.Odobren == "NEODOBREN")
            {
            <td>
                <a href="/Komentar/Odobri?id=@item.IdManifestacije">Odobri komentar</a>
            </td>
            }


        </tr>
    }


</table>
}
@if (ViewBag.admin != null)
{
<table border="1" cellpadding="2" cellspacing="2" width="5">
    <tr bgcolor="gray"></tr>
    <tr>
        <td width="8"><b>Naziv manifestacije:  </b> </td>
        <td width="8"><b>Username:  </b> </td>
        <td width="4"><b>Komentar:  </b>  </td>
        <td width="4"><b>Ocena:  </b></td>
        <td width="4"><b>Odobren: </b></td>


    </tr>
    @foreach (Komentar item in ViewBag.AdminKomentari)
    {


        <tr>
            <td hidden>@item.IdManifestacije  </td>
            <td>@ViewBag.naziv  </td>
            <td>@item.Username  </td>
            <td>@item.TekstKomentara  </td>
            <td>@item.Ocena  </td>
            <td>@item.Odobren</td>




        </tr>
    }


</table>
}