﻿@using WebProjekat.Models


<style>

    input {
        width: 13%;
    }

    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }
    input[type="date"], textarea {
        background-color: palegoldenrod;
    }
    input[type="number"], textarea {
        background-color: palegoldenrod;
    }
    a:active {

        background-color: black;
    }
    input[type="password"], textarea {
        background-color: palegoldenrod;
    }
    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }
    h2 {
        color: saddlebrown;
        font-family: Arial;

    }



    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }



    table {
        border-collapse: collapse;
        width: 88%;
    }

    .button-container form,
    .button-container form div {
        display: inline;


    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }

    .red:hover
    {
        background-color:palegoldenrod;
    }

    th, td {
        padding: 15px;
        text-align: left;
        width: 30px;
        border-bottom: 1px solid #ddd;
    }
</style>

<h2><b>Ulaznice.rs</b></h2>

@ViewBag.Greska
<div class="button-container" >
    <form action="~/Home/Index">
        <select name="sortOrder">
            <option selected="selected">@ViewBag.SortOrder</option>
            <option value="Datum">Datum(rastuce)</option>
            <option value="datum_desc">Datum(opadajuce)</option>
            <option value="Naziv">Naziv(A-Z)</option>
            <option value="naziv_desc">Naziv(Z-A)</option>
            <option value="Mesto">Mesto/Grad(A-Z)</option>
            <option value="mesto_desc">Mesto/Grad(Z-A)</option>
            <option value="Cena">Cena(rastuce)</option>
            <option value="cena_desc">Cena(opadajuce)</option>
        </select>
        <input type="submit" value="Sortiraj" />
    </form>

    <form action="~/Home/Index">
        <select name="filterTip">
            <option selected="selected">@ViewBag.filterTip</option>
            <option value="FESTIVAL">Festival</option>
            <option value="KONCERT">Koncert</option>
            <option value="POZORISTE">Pozoriste</option>
        </select>
        <input type="submit"  value="Filtriraj" />
    </form>
</div>

<table>
    <tr bgcolor="gray"></tr>
    <tr >
        <td></td>
        <td><b>Naziv:  </b> </td>
        <td><b>Tip:  </b>  </td>
        <td><b>Datum odrzavanja:  </b></td>
        <td><b>Cena: </b></td>

        @if (ViewBag.administrator != null || ViewBag.prodavac != null)
        {
            <td><b>Status:  </b>  </td>
        }
        else
        {
            <td hidden><b>Status:  </b>  </td>
        }
        <td width="20"><b>Mesto odrzavanja:  </b>  </td>
        @if (ViewBag.administrator != null || ViewBag.prodavac != null)
        {
            <td><b>Broj mesta:  </b>  </td>
        }
        else
        {
            <td hidden><b>Broj mesta:  </b>  </td>
        }

        <td hidden><b>Komentar:  </b>  </td>
        <td> </td>
        @if (ViewBag.administrator != null)
        {
            <td> </td>
        }

    </tr>
    @foreach (Manifestacija item in ViewBag.manifestacije)
    {

        if (item.Deleted == true && (ViewBag.administrator != null || ViewBag.prodavac != null))
        {

            <tr style="color:gray">
                <td>
                    <img src="data:image/jpeg;base64, @item.Slika" style="width:100px; height:100px" />
                </td>
                <td>@item.Naziv  </td>
                <td>@item.Tip   </td>
                <td>@item.DatumOdrzavanja   </td>
                <td>@item.CenaRegularKarte   </td>
                <td>@item.Status   </td>
                <td>@item.MestoOdrzavanja.Ulica @item.MestoOdrzavanja.BrojUlice <br /> @item.MestoOdrzavanja.Drzava,@item.MestoOdrzavanja.Grad @item.MestoOdrzavanja.PostanskiBroj </td>
                <td>@item.BrojMesta   </td>

                <td hidden>@item.Komentar.TekstKomentara <br />Ocena: @item.Komentar.Ocena   </td>
                <td><b>OBRISANA</b></td>


            </tr>
        }
        else if (item.Deleted != true && (ViewBag.korisnik != null || ViewBag.korisnik == null || ViewBag.administrator != null || ViewBag.prodavac != null))
        {
            <tr class="red" >
                <td>
                    <img src="data:image/jpeg;base64, @item.Slika" style="width:100px; height:100px" />
                </td>
                <td>@item.Naziv  </td>
                <td>@item.Tip   </td>
                <td>@item.DatumOdrzavanja   </td>
                <td>@item.CenaRegularKarte   </td>
                @if (ViewBag.administrator != null || ViewBag.prodavac != null)
                {
                    <td>@item.Status   </td>
                }
                else
                {
                    <td hidden>@item.Status   </td>
                }
                <td>@item.MestoOdrzavanja.Ulica @item.MestoOdrzavanja.BrojUlice <br /> @item.MestoOdrzavanja.Drzava,@item.MestoOdrzavanja.Grad @item.MestoOdrzavanja.PostanskiBroj </td>
                @if (ViewBag.administrator != null || ViewBag.prodavac != null)
                {
                    <td>@item.BrojMesta   </td>
                }
                else
                {
                    <td hidden>@item.BrojMesta   </td>
                }


                <td hidden>@item.Komentar.TekstKomentara <br />Ocena: @item.Komentar.Ocena   </td>


                @if (ViewBag.administrator != null)
                {
                    <td>
                        <a href="/Manifestacija/Delete?id=@item.Id">Obrisi</a>
                    </td>
                }

                <td>
                    <a href="/Manifestacija/Prikazi?id=@item.Id">Prikazi</a>
                </td>

            </tr>
        }

    }
</table>

    <form action="~/Home/Index">
        OD
        <input type="date"  name="prviDatum" width="1" />
        DO
        <input type="date"  name="drugiDatum" width="1" />
        OD
        <input type="number"   name="cena1" width="1" value="@ViewBag.Cena1"/>
        DO
        <input type="number"  name="cena2" width="1" value="@ViewBag.Cena2"/>
        <input type="text"    name="searchString" value="@ViewBag.SearchString"/>
        <input type="submit"  value="Pretrazi " />
    </form>


<form action="~/Home/Index">

    <input type="submit"   name="nerasprodate" value="Prikazi aktivne" />
</form>
