﻿
@{
    ViewBag.Title = "Edit";
}

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
</style>
<h2>Izmeni</h2>
@ViewBag.GreskaEdit
<form action="~/Manifestacija/Editt">
    <table>

        <tr hidden>
            <td>Id:</td>

            <td><input type="text" name="id" value="@ViewBag.id" /></td>
        </tr>
        <tr>
            <td>Naziv:</td>

            <td><input type="text" name="naziv" value="@ViewBag.Naziv" /></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <input list="roles" style="background-color:palegoldenrod" name="tip" />
                <datalist id="roles">

                    <option value="FESTIVAL"></option>
                    <option value="KONCERT"></option>
                    <option value="POZORISTE"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Datum odrzavanja(mm/DD/yy):</td>
            <td><input type="date" name="datumOdrzavanja" value="@ViewBag.DatumOdrzavanja" /></td>
        </tr>
        <tr>
            <td>Cena regular karte:</td>
            <td><input type="number" name="cenaRegularKarte" value="@ViewBag.CenaRegularKarte" /></td>
        </tr>
        <tr>
            <td>Ulica:</td>
            <td><input type="text" name="ulica" value="@ViewBag.Ulica" /></td>
        </tr>
        <tr>
            <td>Broj ulice:</td>
            <td><input type="number" name="brojUlice" value="@ViewBag.BrojUlice" /></td>
        </tr>
        <tr>
            <td>Drzava:</td>
            <td><input type="text" name="drzava" value="@ViewBag.Drzava" /></td>
        </tr>
        <tr>
            <td>Grad:</td>
            <td><input type="text" name="grad" value="@ViewBag.Grad" /></td>
        </tr>
        <tr>
            <td>Postanski broj:</td>
            <td><input type="number" name="postanskiBroj" value="@ViewBag.PostanskiBroj" /></td>
        </tr>
        <tr>
            <td>Broj vip karata:</td>
            <td><input type="number" name="brojVip" value="@ViewBag.BrojVip" /></td>
        </tr>
        <tr>
            <td>Broj regular karata:</td>
            <td><input type="number" name="brojRegular" value="@ViewBag.BrojRegular" /></td>

        </tr>
        <tr>
            <td>Broj fanpit karata:</td>
            <td><input type="number" name="brojFanpit" value="@ViewBag.BrojFanpit" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Izmeni" />
            </td>
        </tr>
    </table>
</form>