﻿
@{
    ViewBag.Title = "Greska";
}

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
</style>
<p style="color:red">@ViewBag.Message1</p>
<p style="color:red">@ViewBag.Greska2</p>
<a href="~/Home/Index">Vrati se na pocetnu stranu</a>


