﻿@using WebProjekat.Models


@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
</style>

<p style="color:red">@ViewBag.Message2</p>
<p style="color:red">@ViewBag.Message</p>

<form action="~/Manifestacija/Manifestacija" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id:</td>
            @ViewBag.Greska10
            <td><input type="text" name="id" /></td>
        </tr>
        <tr>
            <td>Naziv:</td>
            @ViewBag.Greska11
            <td><input type="text" name="naziv" /></td>
        </tr>
        <tr>
            <td>Tip:</td>
            @ViewBag.Greska15
            <td>
                <input list="roles" name="tip" style="background-color:palegoldenrod"/>
                <datalist id="roles">

                    <option value="FESTIVAL"></option>
                    <option value="KONCERT"></option>
                    <option value="POZORISTE"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Datum odrzavanja(mm/DD/yy):</td>
            @ViewBag.Greska12
            <td><input type="date" name="datumOdrzavanja" /></td>
        </tr>
        <tr>
            <td>Cena regular karte:</td>
            @ViewBag.Greska16
            @ViewBag.GreskaCena
            <td><input type="number" name="cenaRegularKarte" /></td>
        </tr>
        <tr>
            <td>Ulica:</td>
            @ViewBag.Greska17
            <td><input type="text" name="ulica" /></td>
        </tr>
        <tr>
            <td>Broj ulice:</td>
            @ViewBag.Greska18
            @ViewBag.GreskaBrojUlice
            <td><input type="number" name="brojUlice" /></td>
        </tr>
        <tr>
            <td>Drzava:</td>
            @ViewBag.Greska13
            <td><input type="text" name="drzava" /></td>
        </tr>
        <tr>
            <td>Grad:</td>
            @ViewBag.Greska14
            <td><input type="text" name="grad" /></td>
        </tr>
        <tr>
            <td>Postanski broj:</td>
            @ViewBag.Greska19
            @ViewBag.GreskaPB
            <td><input type="number" name="postanskiBroj" /></td>
        </tr>
        <tr>
            <td>Broj vip karata:</td>
            @ViewBag.Greska20
            @ViewBag.GreskaVip
            <td><input type="number" name="brojVip" /></td>
        </tr>
        <tr>
            <td>Broj regular karata:</td>
            @ViewBag.Greska21
            @ViewBag.GreskaRegular

            <td><input type="number" name="brojRegular" /></td>

        </tr>
        <tr>
            <td>Broj fanpit karata:</td>
            @ViewBag.Greska22
            @ViewBag.GreskaFanpit

            <td><input type="number" name="brojFanpit" /></td>
        </tr>
        <tr>
            <td>Slika:</td>
            @ViewBag.Greska23
            <td><input type="file" name="file" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="usernameProdavca" value="@ViewBag.username" hidden />
                <input type="submit" value="Kreiraj" />
            </td>
        </tr>

    </table>
</form>

