﻿@using WebProjekat.Models
@{
    ViewBag.Title = "MojeManifestacije";
}

<style>
    input {
        width: 13%;
    }

    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }


    .red:hover {
        background-color: palegoldenrod;
    }
    table {
        border-collapse: collapse;
        width: 88%;
    }

    .button-container form,
    .button-container form div {
        display: inline;
    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }



    th, td {
        padding: 15px;
        text-align: left;
        width: 30px;
        border-bottom: 1px solid #ddd;
    }
</style>
<h2>Moje manifestacije</h2>
<div class="button-container">
    <form action="~/Manifestacija/MojeManifestacije">
        <select name="sortOrder">
            <option value="Datum">Datum(rastuce)</option>
            <option value="datum_desc">Datum(opadajuce)</option>
            <option value="Naziv">Naziv(A-Z)</option>
            <option value="naziv_desc">Naziv(Z-A)</option>
            <option value="Mesto">Mesto/Grad(A-Z)</option>
            <option value="mesto_desc">Mesto/Grad(Z-A)</option>
            <option value="Cena">Cena(rastuce)</option>
            <option value="cena_desc">Cena(opadajuce)</option>
        </select>
        <input type="submit" value="Sortiraj" />
    </form>
    <form action="~/Manifestacija/MojeManifestacije">
        <select name="filterTip">
            <option value="FESTIVAL">Festival</option>
            <option value="KONCERT">Koncert</option>
            <option value="POZORISTE">Pozoriste</option>
        </select>
        <input type="submit" value="Filtriraj" />
    </form>
    </div>
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td ></td>
            <td ><b>Naziv:  </b> </td>
            <td ><b>Tip:  </b>  </td>
            <td ><b>Datum odrzavanja:  </b></td>
            <td ><b>Cena: </b></td>
            <td ><b>Status:  </b>  </td>
            <td ><b>Mesto odrzavanja:  </b>  </td>
            <td ><b>Broj mesta:  </b>  </td>
            <td ><b>Komentar:  </b>  </td>
            <td ><b> </b>  </td>
            <td ><b>  </b>  </td>

        </tr>
        @foreach (Manifestacija item in ViewBag.manifestacije)
        {
            if (item.Deleted == true)
            {
                <tr style="color:gray">
                    <td>
                        <img src="data:image/jpeg;base64, @item.Slika" style="width:100px; height:100px" />
                    </td>
                    <td>@item.Naziv  </td>
                    <td>@item.Tip   </td>
                    <td>@item.DatumOdrzavanja   </td>
                    <td>@item.CenaRegularKarte   </td>
                    <td>@item.Status   </td>
                    <td>@item.MestoOdrzavanja.Ulica @item.MestoOdrzavanja.BrojUlice <br /> @item.MestoOdrzavanja.Drzava,@item.MestoOdrzavanja.Grad @item.MestoOdrzavanja.PostanskiBroj </td>
                    <td>@item.BrojMesta   </td>
                    <td>@item.Komentar.TekstKomentara <br />Ocena: @item.Komentar.Ocena   </td>
                    <td><b>OBRISANA</b></td>
                </tr>
            }
            else
            {
                <tr class="red">
                    <td>
                        <img src="data:image/jpeg;base64, @item.Slika" style="width:100px; height:100px" />
                    </td>
                    <td>@item.Naziv  </td>
                    <td>@item.Tip   </td>
                    <td>@item.DatumOdrzavanja   </td>
                    <td>@item.CenaRegularKarte   </td>
                    <td>@item.Status   </td>
                    <td>@item.MestoOdrzavanja.Ulica @item.MestoOdrzavanja.BrojUlice <br /> @item.MestoOdrzavanja.Drzava,@item.MestoOdrzavanja.Grad @item.MestoOdrzavanja.PostanskiBroj </td>
                    <td>@item.BrojMesta   </td>
                    <td>@item.Komentar.TekstKomentara <br />Ocena: @item.Komentar.Ocena   </td>
                    <td>
                        <a href="/Manifestacija/Prikazi?id=@item.Id">Prikazi</a>
                    </td>

                    <td>
                        <a href="/Manifestacija/Edit?id=@item.Id">Izmeni</a>
                    </td>



                </tr>
            }

        }
    </table>
    <form action="~/Manifestacija/MojeManifestacije">
        OD
        <input type="date" name="prviDatum" width="1" />
        DO
        <input type="date" name="drugiDatum" width="1" />
        OD
        <input type="number" name="cena1" width="1" />
        DO
        <input type="number" name="cena2" width="1" />
        <input type="text" name="searchString" />
        <input type="submit" value="Pretrazi " />
    </form>

    <form action="~/Manifestacija/MojeManifestacije">

        <input type="submit" name="nerasprodate" value="Prikazi dostupne " />
    </form>
