﻿
@{
    ViewBag.Title = "Manifestacija";
}
@using WebProjekat.Models
<style>
    body {
        background-color: lightgoldenrodyellow;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }
    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
    table {
        border-collapse: collapse;
        width: 44%;
    }
    th, td {
        padding: 15px;
        text-align: left;
        width: 15px;
        border-bottom: 1px solid #ddd;
    }
</style>
<h2>Prikaz</h2>
<table>
    <tr>

        <td><img src="data:image/jpeg;base64, @ViewBag.Manifestacija.Slika" style="width:400px; height:250px" /></td>
    </tr>
    <tr hidden>
        <td><b> Naziv: </b></td>
        <td>@ViewBag.Manifestacija.Id  </td>
    </tr>
    <tr>
        <td><b> Naziv: </b></td>
        <td>@ViewBag.Manifestacija.Naziv  </td>
    </tr>
    <tr>
        <td><b>Tip:</b> </td>
        <td> @ViewBag.Manifestacija.Tip </td>
    </tr>
    <tr>
        <td><b>Broj karata: </b></td>
        <td>@ViewBag.Manifestacija.BrojMesta</td>
    </tr>
    <tr>
        <td><b>Broj VIP karata: </b></td>
        <td>@ViewBag.Manifestacija.BrojVip</td>
    </tr>
    <tr>
        <td><b>Broj REGULAR karata: </b></td>
        <td>@ViewBag.Manifestacija.BrojRegular</td>
    </tr>
    <tr>
        <td><b>Broj FANPIT karata: </b></td>
        <td>@ViewBag.Manifestacija.BrojFanpit</td>
    </tr>
    <tr>
        <td><b>Datum odrzavanja: </b></td>
        <td>@ViewBag.Manifestacija.DatumOdrzavanja</td>
    </tr>
    <tr>
        <td><b>Cena regular karte: </b></td>
        <td>@ViewBag.Manifestacija.CenaRegularKarte</td>
    </tr>
    <tr>
        <td><b>Status: </b></td>
        <td>@ViewBag.Manifestacija.Status</td>
    </tr>
    <tr>
        <td><b>Mesto odrzavanja: </b></td>
        <td>@ViewBag.Manifestacija.MestoOdrzavanja.Ulica @ViewBag.Manifestacija.MestoOdrzavanja.BrojUlice <br /> @ViewBag.Manifestacija.MestoOdrzavanja.Drzava,@ViewBag.Manifestacija.MestoOdrzavanja.Grad @ViewBag.Manifestacija.MestoOdrzavanja.PostanskiBroj </td>
    </tr>
    <tr>
        <td><b>Komentari: </b></td>
        @foreach(Komentar k in ViewBag.Manifestacija.Komentari)
        {
            <td>@k.TekstKomentara <br /> @k.Ocena</td>
        }
    </tr>
    

</table>
@if (ViewBag.administrator != null && ViewBag.Manifestacija.Status.ToString() != "AKTIVNO")
{
    <a href="/Manifestacija/Odobri?id=@ViewBag.Manifestacija.Id">Aktiviraj manifestaciju</a>
}

<form action="~/Karta/Index">
    <input type="text" name="id" value="@ViewBag.Manifestacija.Id" hidden />
    @if (ViewBag.korisnik != null)
    {
        <input type="submit" value="Odaberi kartu" />
    }

</form>
