﻿@using WebProjekat.Models
@{
    ViewBag.Title = "Izmeni profil";
}

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }
</style>
<h2>Izmeni</h2>
<div>
    @ViewBag.Message
</div>
<form action="~/Users/Editt">
    <table>
        <tr hidden>
            <td><input type="text" name="username" value="@ViewBag.username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            @ViewBag.Greska10
            @ViewBag.Greska11

            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" /></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime" /></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="roles" name="pol" style="background-color:palegoldenrod"/>
                <datalist id="roles">
                    <option value="MUSKI"></option>
                    <option value="ZENSKI"></option>
                </datalist>
            </td>
        </tr>

        <tr>
            <td>Datum rodjenja(dd/MM/yy):</td>
            <td><input type="date" name="datumRodjenja" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Izmeni" />
            </td>
        </tr>
    </table>
</form>