﻿@using WebProjekat.Models
@{
    ViewBag.Title = "Prikaz";
}

<style>
    input {
        width: 13%;
    }

    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    h2, h3, h4 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }

    .red:hover {
        background-color: palegoldenrod;
    }

    table {
        border-collapse: collapse;
        width: 55%;
    }

    .button-container form,
    .button-container form div {
        display: inline;
    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }



    th, td {
        padding: 15px;
        text-align: left;
        width: 30px;
        border-bottom: 1px solid #ddd;
    }
</style>
<h2>Prikaz</h2>

<table>
    <tr>
        <td><b>Username: </b></td>
        <td>@ViewBag.korisnik.Username  </td>
    </tr>
    <tr>
        <td><b> Ime: </b></td>
        <td>@ViewBag.korisnik.Ime  </td>
    </tr>
    <tr>
        <td><b>Prezime:</b> </td>
        <td> @ViewBag.korisnik.Prezime </td>
    </tr>
    <tr>
        <td><b>Pol: </b></td>
        <td>@ViewBag.korisnik.Pol</td>
    </tr>
    <tr>
        <td><b>Datum rodjenja: </b></td>
        <td>@ViewBag.korisnik.DatumRodjenja</td>
    </tr>
    @if (ViewBag.kupac != null)
    {
        <tr>
            <td><b>Tip: </b></td>
            <td>@ViewBag.korisnik.Tip.ImeTipa</td>
        </tr>
        <tr>
            <td><b>Bodovi: </b></td>
            <td>@ViewBag.korisnik.Bodovi</td>
        </tr>
    }

</table>



<a href="/Users/Edit">Izmeni profil</a>
@if (ViewBag.administrator != null)
{

    <h4>Korisnici</h4>
    <div class="button-container">
        <form action="~/Users/Index">
            <input type="text" name="searchString" />
            <input type="submit" value="Pretrazi" />
        </form>
        <form action="~/Users/Index">
            <select name="sortOrder">
                <option value="Ime">Ime(A-Z)</option>
                <option value="ime_desc">Ime(Z-A)</option>
                <option value="Prezime">Prezime(A-Z)</option>
                <option value="prezime_desc">Prezime(Z-A)</option>
                <option value="Bodovi">Bodovi(rastuce)</option>
                <option value="bodovi_desc">Bodovi(opadajuce)</option>
                <option value="Username">Username(A-Z)</option>
                <option value="username_desc">Username(Z-A)</option>
            </select>
            <input type="submit" value="Sortiraj" />
        </form>
    </div>
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td width="8"><b>Username  </b> </td>
            <td width="4"><b>Ime  </b>  </td>
            <td width="4"><b>Prezime  </b></td>
            <td width="4"><b>Pol </b></td>
            <td width="4"><b>Datum rodjenja  </b>  </td>
            <td width="4"><b>Uloga  </b>  </td>
            <td width="4"><b>Tip  </b>  </td>
            <td width="4"><b>Bodovi  </b>  </td>
            <td>    </td>

        </tr>
        @foreach (Korisnik item in ViewBag.korisnici)
        {

            if (ViewBag.Obrisan != null && ViewBag.Obrisan.Username == item.Username || item.Deleted == true)
            {
                <tr style="color:gray">
                    <td>@item.Username  </td>
                    <td>@item.Ime   </td>
                    <td>@item.Prezime   </td>
                    <td>@item.Pol   </td>
                    <td>@item.DatumRodjenja   </td>
                    <td>@item.Uloga   </td>
                    <td>@item.Tip.ImeTipa   </td>
                    <td>@item.Bodovi     </td>
                    <td> <b>OBRISAN/A</b></td>

                </tr>
            }

            else if (ViewBag.Obrisan == null || ViewBag.Obrisan.Username != item.Username || item.Deleted != true)
            {
                <tr class="red">
                    <td>@item.Username  </td>
                    <td>@item.Ime   </td>
                    <td>@item.Prezime   </td>
                    <td>@item.Pol   </td>
                    <td>@item.DatumRodjenja   </td>
                    <td>@item.Uloga   </td>
                    <td>@item.Tip.ImeTipa   </td>
                    <td>@item.Bodovi     </td>
                    <td>
                        <a href="/Users/Delete?username=@item.Username">Obrisi</a>
                    </td>

                </tr>

            }

        }
    </table>
    <div class="button-container">
        <form action="~/Users/Index">
            <select name="filterUloga">
                <option value="ADMINISTRATOR">Administrator</option>
                <option value="PRODAVAC">Prodavac</option>
                <option value="KUPAC">Kupac</option>
            </select>
            <input type="submit" value="Filtriraj po ulozi" />
        </form>
        <form action="~/Users/Index">
            <select name="filterTip">
                <option value="Zlatni">Zlatni</option>
                <option value="Srebrni">Srebrni</option>
                <option value="Bronzani">Bronzani</option>
            </select>
            <input type="submit" value="Filtriraj po tipu" />
        </form>
    </div>
}
@if (ViewBag.prodavac != null)
{
    <h3>Korisnici vasih manifestacija</h3>
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td width="8"><b>Username  </b> </td>
            <td width="4"><b>Ime  </b>  </td>
            <td width="4"><b>Prezime  </b></td>
            <td width="4"><b>Pol </b></td>
            <td width="4"><b>Datum rodjenja  </b>  </td>
            <td width="4"><b>Uloga  </b>  </td>
            <td width="4"><b>Tip  </b>  </td>
            <td width="4"><b>Bodovi  </b>  </td>

        </tr>
        @foreach (Korisnik item in ViewBag.prodavacKorisnici)
        {

            if (ViewBag.Obrisan != null && ViewBag.Obrisan.Username == item.Username || item.Deleted == true)
            {
                <tr style="color:gray">
                    <td>@item.Username  </td>
                    <td>@item.Ime   </td>
                    <td>@item.Prezime   </td>
                    <td>@item.Pol   </td>
                    <td>@item.DatumRodjenja   </td>
                    <td>@item.Uloga   </td>
                    <td>@item.Tip.ImeTipa   </td>
                    <td>@item.Bodovi     </td>
                    <td> <b>OBRISAN/A</b></td>

                </tr>
            }

            else if (ViewBag.Obrisan == null || ViewBag.Obrisan.Username != item.Username || item.Deleted != true)
            {
                <tr class="red">
                    <td>@item.Username  </td>
                    <td>@item.Ime   </td>
                    <td>@item.Prezime   </td>
                    <td>@item.Pol   </td>
                    <td>@item.DatumRodjenja   </td>
                    <td>@item.Uloga   </td>
                    <td>@item.Tip.ImeTipa   </td>
                    <td>@item.Bodovi     </td>


                </tr>

            }

        }
    </table>
    <h4>Karte vasih manifestacija</h4>
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td width="8"><b>Id karte  </b> </td>
            <td width="4"><b>Korisnicko ime  </b>  </td>
            <td width="4"><b>Naziv  </b></td>
            <td width="4"><b>Datum odrzavanja manifestacije </b></td>
            <td width="4"><b>Tip  </b>  </td>
            <td width="4"><b>Cena(ukupno)  </b>  </td>
            <td width="4"><b>Status  </b>  </td>
            <td width="4"><b>Datum rezervacije  </b>  </td>

        </tr>
        @foreach (Karta item in ViewBag.Karte)
        {

            if (item.Deleted == true)
            {
                <tr style="color:gray">
                    <td>@item.Identifikator  </td>
                    <td>@item.Kupac.Username   </td>
                    <td>@item.NazivManifestacije  </td>
                    <td>@item.DatumManifestacije  </td>
                    <td>@item.Tip   </td>
                    <td>@item.Cena   </td>
                    <td>@item.StatusKarte  </td>
                    <td>@item.DatumRezervacije  </td>
                    <td>OBRISANA MANIFESTACIJA </td>
                </tr>
            }
            else
            {
                <tr class="red">
                    <td>@item.Identifikator  </td>
                    <td>@item.Kupac.Username   </td>
                    <td>@item.NazivManifestacije  </td>
                    <td>@item.DatumManifestacije  </td>
                    <td>@item.Tip   </td>
                    <td>@item.Cena   </td>
                    <td>@item.StatusKarte  </td>
                    <td>@item.DatumRezervacije  </td>

                </tr>
            }
        }
    </table>
}
