﻿@using WebProjekat.Models
@{
    ViewBag.Title = "Prikaz karata";
}
@ViewBag.Message





<style>

    input {
        width: 13%;
    }

    body {
        background-color: lightgoldenrodyellow;
    }

    input[type="text"], textarea {
        background-color: palegoldenrod;
    }

    input[type="date"], textarea {
        background-color: palegoldenrod;
    }

    input[type="number"], textarea {
        background-color: palegoldenrod;
    }

    input[type="password"], textarea {
        background-color: palegoldenrod;
    }

    select {
        width: 150px;
        height: 30px;
        padding: 5px;
        background-color: palegoldenrod;
    }

    h2 {
        color: saddlebrown;
        font-family: Arial;
    }

    input[type="submit"], textarea {
        background-color: black;
        color: white;
    }

    .red:hover {
        background-color: palegoldenrod;
    }

    table {
        border-collapse: collapse;
        width: 88%;
    }

    .button-container form,
    .button-container form div {
        display: inline;
    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }



    th, td {
        padding: 15px;
        text-align: left;
        width: 30px;
        border-bottom: 1px solid #ddd;
    }
</style>
<h2>Karte</h2>
<div class="button-container">
<form action="~/Users/PrikazKarata">
    <select name="sortOrder">
        <option value="Datum">Datum(skoriji dogadjaji)</option>
        <option value="datum_desc">Datum(dalji dogadjaji)</option>
        <option value="Naziv">Naziv(A-Z)</option>
        <option value="naziv_desc">Naziv(Z-A)</option>
        <option value="Cena">Cena(rastuce)</option>
        <option value="cena_desc">Cena(opadajuce)</option>
    </select>
    <input type="submit" value="Sortiraj" />
</form>
<form action="~/Users/PrikazKarata">
    <select name="filterTip">
        <option value="VIP">Vip</option>
        <option value="REGULAR">Regular</option>
        <option value="FANPIT">Fanpit</option>
    </select>
    <input type="submit" value="Filtriraj " />
</form>
<form action="~/Users/PrikazKarata">
    <select name="status">
        <option value="REZERVISANA">Rezervisana</option>
        <option value="ODUSTANAK">Odustanak</option>
    </select>
    <input type="submit" value="Filtriraj " />
</form>
</div>
@if (ViewBag.kupac != null )
{
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td ><b>Id karte  </b> </td>
            <td ><b>Korisnicko ime  </b>  </td>
            <td ><b>Naziv  </b></td>
            <td ><b>Datum odrzavanja manifestacije </b></td>
            <td ><b>Tip  </b>  </td>
            <td ><b>Cena(ukupno)  </b>  </td>
            <td ><b>Status  </b>  </td>
            <td ><b>Datum rezervacije  </b>  </td>
            <td >  </td>
            <td >  </td>

        </tr>


        @foreach (Karta item in ViewBag.OdredjeneKarte)
        {

            <tr class="red">
                <td>@item.Identifikator  </td>
                <td>@ViewBag.Username   </td>
                <td>@item.NazivManifestacije  </td>
                <td>@item.DatumManifestacije  </td>
                <td>@item.Tip   </td>
                <td>@item.Cena   </td>
                <td>@item.StatusKarte  </td>
                <td>@item.DatumRezervacije  </td>
                <td>
                    <a href="/Komentar/Index?id=@item.Identifikator&nazivManifestacije=@item.NazivManifestacije">Dodaj komentar</a>
                </td>
                <td>
                    <a href="/Karta/Odustanak?id=@item.Identifikator">Odustani</a>
                </td>

            </tr>

        }
    </table>

}
@if (ViewBag.administrator != null)
{
    <table border="1" cellpadding="2" cellspacing="2" width="5">
        <tr bgcolor="gray"></tr>
        <tr>
            <td><b>Id karte  </b> </td>
            <td><b>Korisnicko ime  </b>  </td>
            <td><b>Naziv  </b></td>
            <td><b>Datum odrzavanja manifestacije </b></td>
            <td><b>Tip  </b>  </td>
            <td><b>Cena(ukupno)  </b>  </td>
            <td><b>Status  </b>  </td>
            <td><b>Datum rezervacije  </b>  </td>
            <td><b></b>  </td>
            <td></td>

        </tr>


        @foreach (Karta item in ViewBag.AdminKarte)
        {
            if (item.Deleted == true)
            {
                <tr style="color:gray">
                   <td>@item.Identifikator  </td>
                    <td>@item.Kupac.Username   </td>
                    <td>@item.NazivManifestacije  </td>
                    <td>@item.DatumManifestacije  </td>
                    <td>@item.Tip   </td>
                    <td>@item.Cena   </td>
                    <td>@item.StatusKarte  </td>
                    <td>@item.DatumRezervacije  </td>
                    <td>OBRISANA MANIFESTACIJA </td>
                </tr>
            }
            else
            {
                <tr class="red" >
                    <td>@item.Identifikator  </td>
                    <td>@item.Kupac.Username   </td>
                    <td>@item.NazivManifestacije  </td>
                    <td>@item.DatumManifestacije  </td>
                    <td>@item.Tip   </td>
                    <td>@item.Cena   </td>
                    <td>@item.StatusKarte  </td>
                    <td>@item.DatumRezervacije  </td>

                </tr>
            }


        }
    </table>

}
<form action="~/Users/PrikazKarata">
    OD
    <input type="date" name="prviDatum" width="1" />
    DO
    <input type="date" name="drugiDatum" width="1" />
    OD
    <input type="number" name="cena1" width="1" />
    DO
    <input type="number" name="cena2" width="1" />
    <input type="text" name="searchString" />
    <input type="submit" value="Pretrazi" />
</form>

