﻿@using WebProjekat.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ulaznice.rs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{
                        Korisnik korisnik = (Korisnik)Session["korisnik"];
                        Korisnik administrator = (Korisnik)Session["administrator"];
                        Korisnik prodavac = (Korisnik)Session["prodavac"];

                        if (korisnik == null && administrator == null && prodavac == null)
                        {
                            <li>@Html.ActionLink("Prijava", "Index", "Login")</li>
                            <li>@Html.ActionLink("Registracija", "Index", "Register")</li>

                        }
                        if (administrator != null)
                        {
                            <li>@Html.ActionLink("Dodaj novog", "Index", "Register")</li>

                        }
                        if (prodavac != null)
                        {

                            <li>@Html.ActionLink("Dodaj novu manifestaciju", "Index", "Manifestacija")</li>
                            <li>@Html.ActionLink("Moje manifestacije", "MojeManifestacije", "Manifestacija")</li>

                        }
                        if (korisnik != null || administrator != null)
                        {

                            <li>@Html.ActionLink("Pogledaj karte", "PrikazKarata", "Users")</li>
                        }

                        if (administrator != null || prodavac != null)
                        {
                            <li>@Html.ActionLink("Komentari", "PrikaziKomentare", "Komentar")</li>
                        }
                        if (korisnik != null || administrator != null || prodavac != null)
                        {
                            <li>@Html.ActionLink("Moj profil", "Index", "Users")</li>
                            <li>@Html.ActionLink("Odjavi se", "Logout", "Login")</li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
